@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
:root {
  height: 100%;
  --header-primary-color: black;
  --header-contrast-color: white;
  --header-secondary-color: gray;
  --container-primary-color: white;
  --container-contrast-color: black;
  --container-secondary-color: rgb(218, 211, 211);
}

.custom-header,
.custom-footer {
  background-color: var(--header-primary-color) !important;
  color: var(--header-contrast-color);

  .text-white {
    color: var(--header-primary-color);
  }

  .text-black {
    color: var(--header-contrast-color);
  }

  .text-black:hover {
    color: var(--header-secondary-color);
  }

  .bg-black {
    background-color: var(--header-contrast-color);
  }

  .text-neutral-500 {
    color: var(--header-contrast-color);
  }

}

.custom-container {
  background-color: var(--container-primary-color);

  .bg-white {
    background-color: var(--container-secondary-color);
  }

  .bg-black {
    background-color: var(--container-contrast-color);
  }

  .text-white {
    color: var(--container-primary-color);
  }

  color: var(--container-contrast-color) !important;

  .text-gray-800 {
    color: var(--container-contrast-color) !important;
  }

  .text-gray-500 {
    color: var(--container-contrast-color) !important;
  }

  .bg-neutral-200 {
    background-color: var(--container-secondary-color);
  }

  .bg-gray-50 {
    background-color: var(--container-secondary-color);
  }

  .text-gray-900 {
    color: var(--container-contrast-color) !important;
  }

  .text-black {
    color: var(--container-contrast-color);
  }
}